.body-img{
    background: url(https://i.blogs.es/f7a1cd/fondo/1366_2000.jpeg) ;
    background-size:100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
}
.body-img-2{
    background: url(gps-perros-4.jpg);
    background-size:100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
}
.body-color{
    background-color:#9b9b9b;
    background-image: linear-gradient(#9b9b9b , #cdcdcd);
    background-image: linear-gradient(to right, #9b9b9b , #cdcdcd);
    background-image: linear-gradient(#9b9b9b , #9c9c);
    background-image: linear-gradient(to left, #9b9b9b , #9c9c9c);
    color: black;
}
.espacio{
    padding: 30px;
}