{% extends 'core/base.html' %}


{% block contenido %}
  

<div class="container-sm container-md container-lg "> 
    <div class="row">
        <div class="col">
            <h1 align="center">¿Como llevamos a cabo nuestro servicio?</h1>
         </div> 
         <hr>
        <div class="col">
            <p>Nosotros trabajamos en base a el chip que ya lleva implantado nuestras
                mascotas, ya que posee una forma de poder identificarlo, nos encargamos
                de poder hacer compatible la señal con la finalidad de que pueda ser rastreable
                y así poder obtener la localizacion de nuestras mascotas mucho más rapido
                al momento en que se nos extravien algunas.
            </p>
        </div>
        <hr>    
        <div class="col">
            <p>Nuestra principal función es poder facilitarle la busqueda a esos padres desesperados
                de sus mascotas. Como segunda funcion pero no menos relevante podran tener un perfil
                para ustedes padres, con la finalidad de poder tener un acceso, comunicación, performance
                y un espacio más comodo para poder contactarse con nosotros y agilizar los procedimientos necesarios.
            </p>
        </div>
        <hr>
        <div class="col">
            <h1>¿Cual es el costo de todo esto?</h1>
                <p>Nuestra plataforma es totalmente gratuita, nuestras cotizaciones, su espacio para poder tener su perfil,
                    el sistema de comunicacion, etc... todo esto es gratis, solo deberan cancelar si desear ser parte de este 
                    proyecto, y ¿Cuanto seria el costo de eso? Para poder rastrear a tu mascota en caso de extravio tenemos 
                    diferentes planes para que ustedes vean a su comodidad.

                </p>
        </div>
        <hr>
        <div class="col">
            <h1>Planes y precios.</h1>
            <ul>
                <p>Plan Mensual: Para este plan deberas cancelar mensualmente $5.000</p>
                <p>Plan Anual: Para este plan deberas cancelar anualmente $30.000</p>
                <p>Plan Prepago: Para este plan deberas cancelar cada vez que utlices el sistema $45.000</p>
            </ul>
        </div>

        </div>

    </div>


    {% endblock contenido %}


   



