{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--llamado al  archivo CSS--> 
    <link rel="stylesheet" href="{% static 'core/css/perfilusuarios.css' %}">   
    <link rel="stylesheet" href="{% static 'core/css/visual.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Fundacion Apoyo</title>
</head>
    
 
<body class="body-color">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">RASPET</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'acerca-nosotros' %}">¿Quienes somos?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'como-funciona'%}">¿Como funcionamos?</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Nuestros Productos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'productos' %}">Componentes</a></li>
                  <li><a class="dropdown-item" href="{% url 'repuestos' %}"> Repuestos</a></li>
                </ul>
              </li>
                            {% if user.is_authenticated %}  
                            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Cerrar Sesion</a></li> 
                            <li class="nav-item"><a href="#" class="nav-link">@{{ user.username }}</a></li>  
                            {% endif %}
              
         
            
          </div>
        </div>
      </nav>
  </div> 

<!----------------------------------------------------------------------------->
<!----------------------------------------------------------------------------->

 <section class="seccion-perfil-usuario">
  <div class="perfil-usuario-header">
      <div class="perfil-usuario-portada">
          <div class="perfil-usuario-avatar">
              <img src="{% static '#' %}" alt="img-avatar">
              <button type="button" class="boton-avatar">
                  <i class="far fa-image"></i>
              </button>
          </div>
      </div>
  </div>

  <div class="perfil-usuario-body">     
    <div class="perfil-usuario-bio">
        <h3 class="titulo">Bienvenido {{ user.first_name}} {{ user.last_name}} </h3>
        <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="perfil-usuario-footer">
        <ul class="">
            <li><i class="icono fas fa-map-signs"></i> Direccion de usuario: @{{ user.username}}</li>
            <li><i class="icono fas fa-map-signs"></i> Correo electronico: {{ user.email}}</li>                          
        </ul>
    </div>
    <br>
<!------------------------------------------------>
<!------------------------------------------------>
<div class="card container-fluid">
  <div class="card-body">
                <h3 class="text-center">Lista de mascotas</h3>
                <div>
                  <form method="get">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Escribe aqui para buscar" name="buscar">
                      <button class="btn btn-outline-success" type="submit" id="button-addon2">Buscar</button>
                    </div>
                  </form>
                </div>


      <div class="row">
        <table class="table table-hover table-responsive-sm">
              <thead class="table-dark">
                <tr>
                  <td>Id chip</td>
                  <td>Nombre Mascota</td>
                  <td>Edad mascota</td>
                  <td>Sexo</td>
                  <td>Tipo mascota</td>
                  <td>Apoderado</td>
                  <td>Opciones</td>
                </tr>
              </thead>
              {% for ma in mascotas %}
                <tr>
                  <td>{{ma.idChip}}</td>
                  <td>{{ma.nombreMascota}}</td>
                  <td>{{ma.edadMascota}}</td>
                  <td>{{ma.sexo}}</td>
                  <td>{{ma.tipoMascota}}</td>
                  <td>{{ma.apoderado}}</td>      
                  <td>
                  
                  <a class="btn btn-outline-primary btn-sm" href="{% url 'modificar-mascota' ma.idChip %}">Modificar</a>
                  
                  
                  <a class="btn btn-outline-danger btn-sm" href="{% url 'eliminar-mascota' ma.idChip %}">Eliminar</a>

                  </td>  
                </tr>
              {% endfor %}
        </table>
        <hr>
        <div>
        {% include 'core/paginator.html' %}
        </div>
  </div>
      <br>
      
    </div>       
</div>
</div>
<br>
<div>
  <a class="btn btn-primary btn-sm" href="{% url 'crear-apoderado' %}">Agregar apoderado</a> <a class="btn btn-primary btn-sm" href="ingresar-mascota">Agregar mascota</a>
</div>
</section>
      
<!----------------------------------------------------------->
     

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}      
      {% for m in messages %}
          <script>
            Swal.fire({
              "title" :"Felicitaciones",
              "text": "{{m}}",
              "icon": "success"
            })
          </script>
        {% endfor %}         
      {% endif %} 

</body>        
</html>