{% extends "core/base.html" %}
{% load static %}
{% block contenido %}

    <hr>
    <div class="container-sm container-md container-lg">
        <div class="row">
            <div class="col">
                <p>Cabe destacar que todas estas opciones de compra para sus mascotas disponen de la app movil para poder ser utilizadas, no es que cada una de estas opciones trabajen
                  de forma diferente de cada una.
                </p>
            </div>
        </div>
    <div class="container-sm container-md container-lg">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="{% static 'core/img/gps2.jpg'%}" class="card-img-top" alt="producto1">
          <hr>
          <div class="card-body">
            <h5 class="card-title">GPS Tag</h5>
            <p class="card-text">Rastreador de mascotas un tanto explicito, este rastreador es más bien como un accesorio para el collar de tu mascota con un sistema de carga dependiente
              a traves de un cargador tipo c para poder agilizar la carga.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="{% static 'core/img/gps3.jpg'%}" class="card-img-top" alt="producto2">
          <hr>
          <div class="card-body">
            <h5 class="card-title">GPS Block</h5>
            <p class="card-text">Este rastreador es un tanto mas seguro y priorizado para estas mascotas que son muy inquietas siendo un rastreador que esta aderido completamente
              a el collar de tu mascota, este tiene un sistema de carga solar y tipo c carga rapida por si el primer sistema no funciona.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="{% static 'core/img/gps4.jpg'%}" class="card-img-top" alt="producto3">
          <hr>
          <div class="card-body">
            <h5 class="card-title">GPS ghost</h5>
            <p class="card-text">Este gps es ideal para sus mascotas ya que es poco perceptible por su pariencia, no podran saber que es un sistema de valor el cual
              se encuentra oculto dentro de una carcasa con forma de pata de perrito la cual puede ser cambiada segun a su gusto para tener una acorde a sus requerimientos.
              Este tiene solo sistema de carga a traves de usb.
            </p>
          </div>
        </div>
      </div>
    </div>

{% endblock contenido %}











