
header {
    text-align: center;
    font-family: verdana;
    font-size: 50px;
    font-weight: bold;
    color:#0a0a29;
    height: 40px;
    padding-right: 50px;
    
}
body {
    background: url(gps-perros-4.jpg); 
}

.container1 {
    background-color: aqua;
    position: relative;
    padding-right: 100px;
}

.container2 {
    background-color: aqua;
    position: relative;
    padding-right: 100px;
}

.container3 {
    background-color: rgb(79, 85, 85);
    

}

